<footer>
    <div class="footer-info">
        <div class="f-info-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="f-info-links">
            <p>Contact us: info@Roomify.com</p>
            <p>&copy; 2026 Roomify. All rights reserved.</p>
        </div>
    </div>
</footer>