body{
    background-color: #ffffff !important;
    display: flex;
    flex-direction: column  ;
    min-height: 100vh;
}
  /* horizontal scroll container */
  .scroll-container {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
  }

  /* Hide scrollbar */
  .scroll-container::-webkit-scrollbar {
    display: none;
  }
  .scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Card sizing */
  .property-card {
    min-width: 200px;
    border: none;
    cursor: pointer;
  }

  .property-card img {
    height: 180px;
    object-fit: cover;
    border-radius: 14px;
  }

  .badge-fav {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 10;
  }

  /* Responsive image height */
  .carousel-item img {
    height: 70vh;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .carousel-item img {
      height: 35vh;
    }
  }

.listing-link{
    text-decoration: none;
}
.starability-result {
  transform: scale(0.5);   /* 0.5 = very small, 0.7 = medium */
  transform-origin: left;
}

.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius:10px;
}
.card-body{
    padding: 5px 0 !important;
    margin: 1px 5px !important;
}
.card{
  border: none !important;
}
/* mappp */
 #map {
    height: 400px;
    /* width: 100%; */
    margin-top: 20px;
    border-radius: 10px;
    /* border: 2px solid black; */
  }


/* card effects */
.card-img-overlay{
    opacity: 0px;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: #ffffff;
}


.navbar{
    height: 4rem;
}
.container{
    flex: 1;
}

.nav-link{
    color: #222222 !important;
}


/* show image  */
.show-image{
    height: 70vh;
}


footer {
    background-color: #F8F9FA;
    padding: 1rem 0;
    text-align: center;
    margin-top: 2rem;
}
.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
} 

.navbar-collapse {
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 15px;
}

@media (max-width: 576px) {
  .navbar form input {
    font-size: 14px;
  }
}
.navbar-brand i {
  font-size: 1.5rem;
  color: #ff385c;
}


